<h1>Movie APP</h1>
<p class="lead">Baseline will be here.</p>

<img src="https://image.tmdb.org/t/p/w300//oXUWEc5i3wYyFnL1Ycu8ppxxPvs.jpg" width="300px">
<br><span class="movie-title">The Relevant</span>

<img src="https://image.tmdb.org/t/p/w300//jToSMocaCaS5YnuOJVqQ7S7pr4Q.jpg" width="300px">
<br><span class="movie-actor">Leonardo DiCaprio</span>

<h2>Is this actor in this movie ? </h2>	

<button type="button" class="btn btn-danger" id="no">No</button>
<button type="button" class="btn btn-success" id="yes">Yes</button>
