<h1>Movie APP</h1>
<p class='lead'>Baseline will be here.</p>

<img src='http://placehold.it/600x300' width='100%''>


<p class='app-description'>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare mauris turpis, et semper ligula tincidunt id. Nam at tortor rhoncus, laoreet tortor vitae, placerat turpis. Nunc quis tincidunt lacus, nec volutpat justo. Sed a arcu congue, rhoncus elit id, vulputate elit. Maecenas justo leo, iaculis vitae accumsan ultricies, bibendum sit amet massa. <br><br>
	
	<a href='#' id='Play'>Start the Quizz</a>
</p>